.menu{
    position: absolute;
    width: 369px;
    height: 100%;
    left: -35px;
    top: 0px;

    background: rgba(177, 177, 177, 0.14);
    border-radius: 61px;
}

.logo{
    position: absolute;
    width: 171px;
    height: 64px;
    left: 25%;
    top: 70px;
    background: url(../../../assets/icons/logotipo.png);
}

.container {
    position: absolute;
    left: 25%;
    top: 20%;
}

.itemMenu {
    padding-left: 10px;
    cursor: pointer;
}

.itemMenu.active{
    color: #7ACA3E;
}
